node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/local.properties

ios/Pods/
ios/build/

*.apk
*.aab
*.keystore
*.jks

*.gguf
models/*
!models/.gitkeep

.env
.DS_Store
*.log
